<div>

  <div id="postDiv" class="card-header">
    <button id="postbtn" class="col-6">Create Post</button>
  </div>
  <div class="belowPost"></div>
</div>

{{#each blogs as |blog|}}

  <div class="card">
    <div class="card-header">
      <h5>{{blog.title}} - {{blog.user.name}} </h5>
    </div>
    <div class="card-body{{@index}}">
      <p class="card-text">{{blog.description}}</p>
      <p class="card-title"> {{format_time blog.createdAt}}</p>

      <p>Comments:</p>
      {{#if blog.comments}}
        {{#each blog.comments as |comment|}}
          <div class="d-flex text-muted pt-3">
            <p
              class="pb-3 mb-0 small lh-sm border-bottom"
              style="margin-left: 75px"
            >
              {{comment.user.name}}:
              {{comment.content}}
            </p>
          </div>
        {{/each}}
      {{/if}}

      <a
        href="#"
        id="btn-comment"
        class="btn btn-comment"
        data-blogid={{blog.id}}
      >Comment</a>

    </div>
  </div>

{{/each}}

<script src="/js/comment.js"></script>
<script src="/js/post.js"></script>