<div>

  <div id="postDiv" class="card-header">
    My Posts:
  </div>
  <div class="belowPost"></div>
</div>

{{#each myblogs as |blog|}}

  <div class="card">
    <div class="card-header">
      <h5>{{blog.title}} - {{blog.user.name}} </h5>
    </div>
    <div class="card-body{{@index}}">
      <textarea
        type="text"
        class="card-text editArea"
        placeholder="{{blog.description}}"
      ></textarea>
      <p class="card-title"> {{format_time blog.createdAt}}</p>

      <p>Comments:</p>
      {{#if blog.comments}}
        {{#each blog.comments as |comment|}}
          <div class="d-flex text-muted pt-3">
            <p
              class="pb-3 mb-0 small lh-sm border-bottom"
              style="margin-left: 75px"
            >
              {{comment.user.name}}:
              {{comment.content}}
            </p>
          </div>
        {{/each}}
      {{/if}}

      <a
        href="#"
        id="btn-edit"
        class="btn btn-edit"
        data-blogid={{blog.id}}
      >Edit</a>
      <a
        href="#"
        id="btn-delete"
        class="btn btn-delete"
        data-blogid={{blog.id}}
      >Delete</a>

    </div>
  </div>

{{/each}}

<script src="/js/editdelete.js"></script>